@font-face {
    font-family: "SVN-Pequena Neo";
    src: url("/assets/SVN-Pequena Neo (2 fonts)/SVN-Pequena Neo Regular.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "SVN-Pequena Neo";
    src: url("/assets/SVN-Pequena Neo (2 fonts)/SVN-Pequena Neo Black.otf") format("opentype");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

body {
    margin: 0;
    padding: 0;
    color: rgba(255, 255, 255, 0.87);
    background-color: #1c172e;
    min-height: 100vh;
    min-height: 100svh;
    overscroll-behavior: none;
}

#app {
    width: 100%;
    min-height: 100vh;
    min-height: 100svh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
